{{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<h1>Eat-Da-Burger!</h1>

<main class="container col-sm-10 col-md-8 col-lg-8>">
  <div class="card-row">
    <article class="card-body">
      <section class="row m-1">

        {{!-- eaten burgers --}}
        <figure class="col-md-6 p-3">
          <h2 class="card-title">Burger To Eat</h2>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </figure>
{{!--  --}}
        <figure class="col-md-6 p-3">
        <h2 class="card-title">Burgers Eaten</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devour=false}}
          {{/if}}
          {{/each}}
        </ul>
        </figure>
{{!-- add a burger --}}
        <figure class="col-md-6 p-3">
          <h2>Add a burger</h2>
          <form class="create-form">

            <div class="form-group">
              <label for="ca">Burger Name:</label>
              <input type="text" id="ca" name="name">
            </div>

            <div class="form-group">
              <label for="slee">devoured?</label><br>
              <input type="radio" name="devoured" value="1" checked> Devoured!<br>
              <input type="radio" name="devoured" value="0"> Burgers To Eat
            </div>
            <button type="submit">Add burger</button>
          </form>
        </figure>
      </section>
    </article>
  </div>
</main>