li {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    background: rgb(46, 46, 46);
    width: fit-content;
    }
  
.label {
    font-weight: bold;
  }
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    /* background: aqua; */
  }
  
.form-group {
    margin-bottom: 5px;
  }
body {
    background-image: url("/assets/pexels-magda-ehlers-960137.jpg");
    /* color: rgb(245, 229, 206); */
    background-size: contain;
    background-size: cover;
    /* color: whitesmoke; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  
   }


figure {
  background-color: rgb(46, 51, 56);
}
.change-devoured {
  color: red;
  
}

h2,h1,label, input {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}