li {
    padding: 5px;
    margin: 5px;
    background: #f3f3f3;
    color: rgb(46, 46, 46);
    width: fit-content;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  body {
    background-image: url("/assets/pexels-magda-ehlers-960137.jpg");
    /* color: rgb(245, 229, 206); */
    background-size: contain;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  
   }
